$font-size:             14px;

$profile-image-width:   200px;

$margin:                20px;
$margin-large:          $margin * 1.5;
$margin-huge:           $margin * 2.5;

$page-width:            960px;
$page-padding:          $margin-huge;

$border-color:        #e5e5e5;
$border-color-light:  #f3f3f3;
